@model Labb2_Linq.Models.InfoConnection

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InfoConnection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ConnectionID" />
            <div class="form-group">
                <label asp-for="FK_StudentID" class="control-label">Student Name</label>
                <select asp-for="FK_StudentID" class="form-control" asp-items="ViewBag.FK_StudentID"></select>
                <span asp-validation-for="FK_StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FK_classesID" class="control-label">Students Class</label>
                <select asp-for="FK_classesID" class="form-control" asp-items="ViewBag.FK_classesID"></select>
                <span asp-validation-for="FK_classesID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FK_teachersID" class="control-label">Teacher's Name</label>
                <select asp-for="FK_teachersID" class="form-control" asp-items="ViewBag.FK_teachersID"></select>
                <span asp-validation-for="FK_teachersID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FK_CourseID" class="control-label">Course Name</label>
                <select asp-for="FK_CourseID" class="form-control" asp-items="ViewBag.FK_CourseID"></select>
                <span asp-validation-for="FK_CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
